# macOS Finder
.DS_Store

# Local learning log
LearningLog.md
WorkLog_CN.md
WorkLog_RU.md
WorkLog.md
task.md

# Docs
COMPARISON_REPORT_CN.md
TESTBENCH_USAGE_CN.md
hse-white.svg
miem-white.svg
Постер_Тестовый_стенд_RISC-V_v8.html

old/
